composite/src/main/resources/data/compositeAccount.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="account">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="company"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="addressLine1"/>
        <xs:element type="xs:string" name="addressLine2"/>
        <xs:element type="xs:short" name="charges"/>
        <xs:element type="xs:int" name="total"/>
        <xs:element type="xs:string" name="net"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>